<% @lists.each do |list| %> 
      <tr>
        <td id="name"><%= list.name %></td>
        <td>
          <%= link_to list_path(list) do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_list_path(list) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to list, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
      </tr>
<% end %>