<% @list.items.each do |item| %> 
      <tr>
        <td id="description"><%= item.description %></td>

        <td>
        <form action="#" method="#">
          <input type="checkbox" name="checked" value="checked" >
          
          <!-- <input type="submit" value="Submit"> -->
        </form>

        </td>

        <td>
          <%= link_to edit_item_path(item) do %>
            <i class="fa fa-pencil ajax-edit"></i>
          <% end %>
        </td>
        <td>
          <%= link_to item, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
      </tr>
<% end %>
   
